* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 85vh;
}

header {
    grid-area: 1/1/2/3;
   padding: 20px;
   background-color: #eee;
   box-shadow: 0 3px 10px #111;
}

.logo {
    width: 30%;
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 3rem;
    margin-left: 50px;
}

header svg {
    width: 75px;
}

.sidebar {
    grid-area: 2/1/2/2;
    font-size: 2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    box-shadow: 3px 11px 10px #111;
}

.search-bar {
    display: flex;
    align-items: center;
    
    
}

.search-bar input {
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.search-bar svg {
    width: 35px;
    cursor: pointer;
}

#submit {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.sidebar button {
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: #eee;
    cursor: pointer;
}

.sidebar button:hover {
    color: #eee;
    background-color: #555;
    transform: scale(1.05);
}

.content {
    grid-area: 2/2/3/3;
    background-color: #f3f3f3;
    margin: 8px 0 0 8px;
}
