* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 85vh;
}

header {
    grid-area: 1/1/2/3;
   padding: 20px;
   background-color: #eee;
   box-shadow: 0 3px 10px #111;
}

.logo {
    width: 30%;
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 3rem;
    margin-left: 50px;
}

header svg {
    width: 75px;
}

.sidebar {
    grid-area: 2/1/2/2;
    font-size: 2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    box-shadow: 3px 11px 10px #111;
}

.search-bar {
    display: flex;
    align-items: center;
    
    
}

.search-bar input {
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.search-bar svg {
    width: 35px;
    cursor: pointer;
}

#submit {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.sidebar button {
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: #eee;
    cursor: pointer;
}

.sidebar button:hover {
    color: #eee;
    background-color: #555;
    transform: scale(1.05);
}

.content {
    grid-area: 2/2/3/3;
    background-color: #f3f3f3;
    margin: 8px 0 0 8px;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.9rem;
    margin: 50px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    max-height: auto;
    min-width: 400px;
    
}

.card p{
    margin: 10px 0 0 10px;
    width: 90%;
    border-bottom: 1px solid gray;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    background-color: #444;
    
}


.buttons div svg{
    width:45px
}


.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;

}

.popup-head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.popup-head span {
    font-size: 2rem;
}

.popup-head button {
    border-radius: 50%;
    width: 30px;
    padding: 7px;
    font-size: 1.1rem;
    border: none;
    background-color: #555;
    color: white;
    border: 2px solid black;
}

form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

form div:last-child {
    align-self: center;
}

form input[type="radio"] {
    margin: 20px;
    
}

form input[type="submit"] {
    font-size: 2rem;
    padding: 10px 50px;
}

form div input[type="text"] {
    padding: 5px;
    border: 1px solid gainsboro;
    background-color: #f8f8f8;
    border-radius: 5px;
    width: 350px;
}
